<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rechner App</title>
</head>
<body>

<form id="rechnerForm" th:action="@{'/rechneErgebnis'}" th:method="POST">


    <table>
        <tr>
            <td> </td>
            <td>Summand 1</td>
            <td>
                <input id="summand1" name="summand1" type="text" maxlength="10" th:value="${summand1}" placeholder="Enter a value">
            </td>
        </tr>

        <tr>
            <td>+</td>
            <td>Summand 2</td>
            <td>
                <input id="summand2" name="summand2" type="text" maxlength="10" th:value="${summand2}" placeholder="Enter a value">
            </td>
        </tr>
        <tr>
            <td>=</td>
            <td>Interim result</td>
            <td><input id="interimResult" name="interimResult" type="text" maxlength="10" readonly th:value="${interimResult}"></td>
        </tr>
        <tr>
            <td>+</td>
            <td>VAT (19%)</td>
            <td><input id="vat" name="vat" type="text" maxlength="10" readonly th:value="${vat}"></td>
        </tr>
        <tr>
            <td>=</td>
            <td>Result</td>
            <td><input id="result" name="result" type="text" maxlength="10" readonly th:value="${result}"></td>
        </tr>

    </table>

    <input type="submit" value="Calculate result">
</form>

</body>
</html>